.todo-form {
  margin-top: 3rem;

  input {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    height: 3rem;
    border: none;
    line-height: 3;
    border-radius: 7px;
    padding-left: 3rem;

    &::placeholder {
      color: var(--secondary-text-color);
    }
  }
}