.todo-list {
	padding: 0;
	list-style: none;
	margin: 2rem 0 0;
	box-shadow: 0 0 8px 3px var(--box-shadow-color);
	transition: var(--theme-transition);
}

.todo-list__item {
	background-color: var(--primary-color);
	color: var(--primary-text-color);
	border-bottom: 1px solid var(--border-color);
	height: 3rem;
	line-height: 3;
	padding: 0 1rem;
	transition: background-color var(--theme-transition-duration);

	&:first-child {
		border-radius: 7px 7px 0 0;
	}
}